In [1]:
import numpy as np
import pandas as pd

In [8]:
def factorial(n):
    product = n
    for i in range(n-1,0,-1):
        product = product * i
    return product

In [17]:
def combinations(n,k):
    return (factorial(n))/(factorial(k)*factorial(n-k))

In [89]:
def one_ticket_probability(lotto):
    percent = (1/(combinations(49,6)))*100
    print('You have a ' + '{:.6f}'.format(percent) + '% chance of winning with these numbers.')

In [90]:
one_ticket_probability([1,3,12,6,7,8])

You have a 0.000007% chance of winning with these numbers.

In [36]:
df = pd.read_csv('649.csv')

In [52]:
df.sample(6)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
495,649,496,0,10/22/1988,2,3,8,24,32,48,28
2735,649,2736,0,4/10/2010,7,9,23,25,27,41,15
1382,649,1383,0,4/23/1997,22,28,36,42,46,49,43
307,649,308,0,1/3/1987,3,11,16,23,47,49,25
3250,649,3177,0,7/2/2014,13,20,27,28,47,49,15
1163,649,1164,0,3/18/1995,5,8,24,32,47,48,1

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
PRODUCT            3665 non-null int64
DRAW NUMBER        3665 non-null int64
SEQUENCE NUMBER    3665 non-null int64
DRAW DATE          3665 non-null object
NUMBER DRAWN 1     3665 non-null int64
NUMBER DRAWN 2     3665 non-null int64
NUMBER DRAWN 3     3665 non-null int64
NUMBER DRAWN 4     3665 non-null int64
NUMBER DRAWN 5     3665 non-null int64
NUMBER DRAWN 6     3665 non-null int64
BONUS NUMBER       3665 non-null int64
dtypes: int64(10), object(1)
memory usage: 315.1+ KB

In [40]:
df.shape

(3665, 11)

In [75]:
def extract_numbers(row):
    return set(row[-7:-1])

In [83]:
sets = df.apply(extract_numbers, axis=1)

In [93]:
def check_historical_occurence(user_ticket, sets):
    user_numbers=set(user_ticket)
    boolean = user_numbers == sets
    print("How many times has this combo of numbers won in the past? " + str(boolean.sum()))
    one_ticket_probability(user_ticket)

In [96]:
check_historical_occurence([2,3,8,24,32,48], sets)

How many times has this combo of numbers won in the past? 1
You have a 0.000007% chance of winning with these numbers.

In [97]:
def multi_ticket_probability(lotto):
    percent = (lotto/(combinations(49,6)))*100
    print('You have a ' + '{:.6f}'.format(percent) + '% chance of winning with these numbers.')

In [124]:
multi_ticket_probability(100)

You have a 0.000715% chance of winning with these numbers.

In [179]:
def probability_less_6(k):
    total_combos = combinations(49,6)
    subset_combos = combinations(6,k)
    possible_combos = combinations(43,6-k)
    success = (possible_combos)*subset_combos
    chances = success/total_combos
    print('You have a ' + '{:.6f}'.format(chances*100) + '% chance of matching ' + str(k) + ' numbers.')

In [180]:
probability_less_6(2)

You have a 13.237803% chance of matching 2 numbers.